.box {
  background-color: #fff;
  // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 6px 0 rgba(32, 33, 36, 0.06);
  width: 100%;
  border-radius: 6px;
  padding: 32px;
  margin-bottom: 32px;

  &__title {
    margin-bottom: 0.75rem;
    font-size: 20px;
    font-weight: bold;
  }

  &__subtitle {
    margin-bottom: 0.75rem;
    font-size: 16px;
    font-weight: bold;
    color: #aaa;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}