.form {

  &__input {

    &:focus {
      border-color: rgba($color: $yellow-color, $alpha: 0.5) !important;
      box-shadow: none !important;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(170, 170, 170);
      opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgb(170, 170, 170);
    }
    
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: rgb(170, 170, 170);
    }

    &--invalid {
      border-color: rgba($color: $red-color, $alpha: 0.5) !important;

      &:focus {
        border-color: rgba($color: $red-color, $alpha: 0.5) !important;
        box-shadow: 0 0 0 0.2rem rgba($color: $red-color, $alpha: 0.5) !important;
      }

      &-message {
        color: $red-color;
        font-size: 0.75rem;
      }
    }
  }
}