$yellow-color: #fdbc11;
// $purple-color: #FD11C8;
// $green-color: #11FD46;
// $blue-color: #1152FD;

$purple-color: #BC11FD;
$green-color: #28a745;
$blue-color: #1893fe;

$gray-color: #7f7f7f;
$red-color: #ea475b;