@font-face {
	font-family: 'vazir';
	src: url('~assets/fonts/Farsi-Digits/Vazir-light-FD-UI.eot');
	src: url('~assets/fonts/Farsi-Digits/Vazir-light-FD-UI.eot');
	src: url('~assets/fonts/Farsi-Digits/Vazir-light-FD-UI.eot?#iefix') format('embedded-opentype'),
				url('~assets/fonts/Farsi-Digits/Vazir-light-FD-UI.woff2') format('woff2'),
				url('~assets/fonts/Farsi-Digits/Vazir-light-FD-UI.woff') format('woff'),
				url('~assets/fonts/Farsi-Digits/Vazir-light-FD-UI.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'vazir';
	src: url('~assets/fonts/Farsi-Digits/Vazir-Medium-FD-UI.eot');
	src: url('~assets/fonts/Farsi-Digits/Vazir-Medium-FD-UI.eot');
	src: url('~assets/fonts/Farsi-Digits/Vazir-Medium-FD-UI.eot?#iefix') format('embedded-opentype'),
				url('~assets/fonts/Farsi-Digits/Vazir-Medium-FD-UI.woff2') format('woff2'),
				url('~assets/fonts/Farsi-Digits/Vazir-Medium-FD-UI.woff') format('woff'),
				url('~assets/fonts/Farsi-Digits/Vazir-Medium-FD-UI.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}
// @import '~vue-pdf-reader/vue-pdf-reader.css';

body {
  font-family: 'vazir';
}

  input {
    border: 1px solid #c3c3c3;
    padding: 0 16px;
    border-radius: 0.25rem;
    height: 40px;
    width: 100%;

    &:hover {
      border-color: #999999;
    }
    
    &:focus {
      outline: none;
      border: 2px solid #fbdc8c;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #bfbfbf;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #bfbfbf;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #bfbfbf;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #bfbfbf;
    }
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-switch.b-custom-control-lg .custom-control-label {
	font-size: 12px;
	line-height: 30px;
}

.custom-control-label::before {
	border-color: #ccc !important;
}

.custom-switch .custom-control-label::after {
	background-color: #dadada;
}

.custom-control-input:checked ~ .custom-control-label::before {
	border-color: #fdbc11 !important;
	background-color: #fdbc11 !important;
	box-shadow: none !important;
}

.custom-control-input ~ .custom-control-label::before {
	box-shadow: none !important;
}

.custom-control-input:active ~ .custom-control-label::before {
	background-color: lighten(#fdbc11, 27%) !important;
}

.custom-radio {
	padding-left: unset;
	padding-right: 24px;
	margin-bottom: 12px;
	// border: 1px solid #ccc;
	// border-radius: 6px;
	// padding: 8px;
	// padding-right: 32px;
	// cursor: pointer;
}

.custom-radio label {
	cursor: pointer;
}

.custom-radio label::after {
	left: unset;
	right: -1.5rem;
	cursor: pointer;
}

.custom-radio label::before {
	left: unset;
	right: -1.5rem;
	cursor: pointer;
}

.the-canvas {
  border: 1px solid #d4d4d4;
  direction: ltr;
  width: 100%;
}

// Loading indicator start
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fdbc11;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Loading indicator end
